<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <h2>Team Name: <%=@team_data['name'] %></h2>
  <p>Coach: <%=@team_data['coach'] %> </p>
  <p>Point Guard: <%=@team_data['pg'] %> </p>
  <p>Shooting Guard: <%=@team_data['sg'] %> </p>
  <p>Power Forward: <%=@team_data['pf'] %> </p>
  <p>Small Forward: <%=@team_data['sf'] %> </p>
  <p>Center: <%=@team_data['c'] %> </p>
 


 </body>
</html>


